/*
 Styling reference:
 http://pixate.github.io/pixate-freestyle-ios/style-reference/index.html
 
 iOS 7 pre-installed fonts:
 http://support.apple.com/kb/HT5878
 
 Worth noting: If you have sass installed, you can use .scss files directly.
 Just include them in the project, and make sure they're in the "Compile Sources"
 section of your build phases, *not* the "Copy Bundle Resources" section.
 From there, there's a custom build rule that will compile them as needed and
 included only the resulting .css in your app bundle.
 
 If you're not using Pixate Freestyle, delete this file at your leisure.
 */

freestyle-config {
    /* Log CSS errors to the console. Feel free to disable this in production. */
    parse-error-destination: console;
}


label[text="Hello World!"] {
    font-family: "Avenir";
    font-weight: light;
    text-align: center;
    color: #666;
}

label[text="Hello World!"] attributed-text {
    letter-spacing: -0.75px;
}

view.timeEntries {
    background-color : linear-gradient(#485563, #29323C);
}